# Ignore everything by default
*

# Allow directories to be traversed (this is important!)
!*/

# Explicitly allow specific files and directories

!Documents/AutoHotkey/**/*.ahk
!Documents/PowerShell/**/*.ps1
!Documents/Userscripts/**/*.user.js
!AppData/Roaming/Microsoft/Windows/Start Menu/Programs/Startup/*.ps1
!/ale.code-workspace
!/.gitignore
!/AGENTS.md